@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
*{
    margin:0;
    box-sizing: border-box;
}
.center{max-width: 1280px; margin: 0 auto; padding: 0 1%;}
.clear{clear:both;}
/* Menu */

header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 9999;
}
.logo{
    margin-top: 5px;
    float: left;
}
.logo img{
    max-width: 150px;
    max-height: 75px;
}
nav.desk{
    float: right;
}
nav.desk ul{
    margin-right: 50px;
}
nav.desk ul li{
    margin-top: 15px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
}
nav.desk a{
    display: inline-block;
    width: 25%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
    color: white;
    font-family: 'Rubik', sans-serif;
}
.two:hover ~ hr {
    margin-left: 30%;
  }
  
.three:hover ~ hr {
    margin-left: 57%;
}
  
.four:hover ~ hr {
    margin-left: 85%;
}
  
hr {
    height: .25rem;
    width: 20%;
    margin-left: 17px;
    background: yellow;
    border: none;
    transition: .3s ease-in-out;
}
nav button{
    padding: 8px 16px;
    background: yellow;
    border:0;
    color: #222222;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    border-radius: 3px;
}
section{
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #ccc;
}
/* Menu */

/* Slider */
.slider{
    flex: 1;
    overflow: hidden;
    background: green;
}
.slider__width{
    height: 100%;
    display: flex;
    transition: all ease-out 0.5s;
}
.slideritem{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 70px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    text-shadow: 0px 1px 1px #333;
}
.slider__controls{
    position: absolute;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control{
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.control > i{
    color: white;
    font-size: 30px;
    line-height: 50px;
    padding-left: 25%;
}

